<div class="col-md-6" style="margin-left:0%">
  <div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{ message.text }}</strong>
  </div>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Sumario</h3>
    </div>
      <div class="box-body">
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
                <b>Novo :</b>  
                <span class="pull-right"><span>{{ summary?.amountNovo }}</span></span>
          </li>
          <li class="list-group-item">
              <b>Resolvido :</b>  
              <span class="pull-right"><span>{{ summary?.amountResolvido }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Aprovado :</b>  
                <span class="pull-right"><span>{{ summary?.amountAprovado }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Desaprovado :</b>  
                <span class="pull-right"><span>{{ summary?.amountDesaprovado }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Atribuido :</b>  
                <span class="pull-right"><span>{{ summary?.amountAtribuido }}</span></span>
          </li>
          <li class="list-group-item">
                <b>Fechar :</b>  
          <span class="pull-right"><span>{{ summary?.amountFechar }}</span></span>
          </li>
        </ul>     
      </div>
  </div>
</div>