<div class="col-md-10" style="margin-left:0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Detalhe da Solicitação</h3>
      </div>
      <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>
        <div class="box-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                  <b>Numero do Protocolo :</b> <span>{{ticket.number}}</span> 
                  <span class="pull-right"><b>Title :</b> <span>{{ticket.title}}</span></span>
            </li>
            <li class="list-group-item">
              <b>Prioridade :</b> <span>{{ticket.priority}}</span>
              <span class="pull-right">
                <b>Criado por  :</b> <span>{{ticket?.user?.email}}</span>
              </span>
            </li>
            <li class="list-group-item">
                <b>Status :</b> <span>{{ticket.status}}</span>
                <span class="pull-right">
                  <b>Atribuido para :</b> <span>{{ticket?.assignedUser?.email}}</span>
                </span>
            </li>
            <li class="list-group-item">
                <b>Data :</b> <span>{{ticket.date | date:'dd/MM/yyyy'}}</span>
              </li>
            <li class="list-group-item">
              <b>Descrição :</b> <span>{{ticket.description}}</span>
            </li>
            <li class="list-group-item">
               <span style="display: none"><img [src]="ticket.image" width="450px" height="370px"></span>
               <span class="pull-right">
                  <table class="table table-bordered">
                      <tr>
                        <th>Alteração do Usuário</th> 
                        <th>Data da Alteração do Status</th>
                        <th>Status</th>
                      </tr>
                      <tr *ngFor="let change of ticket.changes">
                          <td>{{ change?.userChange.email}}</td>
                          <td>{{ change?.dateChangeStatus | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                          <td>{{ change?.status }}</td>
                      </tr>  
                         
                  </table>    
                </span>
            </li>
          </ul>     
        </div>
        <div class="box-footer">
          <button *ngIf="shared.user.profile == 'AREA' && ticket.status == 'Novo'"
                  (click)="changeStatus('Atribuido')" 
                  class="btn btn-primary">Aceitar</button>
          <button *ngIf="shared.user.profile == 'AREA' && (ticket.status == 'Atribuido' || ticket.status == 'Desaprovado')" 
                  (click)="changeStatus('Resolvido')" 
                  class="btn btn-primary">Resolver</button>
          <button *ngIf="shared.user.profile == 'AREA' && ticket.status == 'Resolvido'" 
                  (click)="changeStatus('Aprovado')" 
                  class="btn btn-primary">Aprovado</button>
          <button *ngIf="shared.user.profile == 'AREA' && ticket.status == 'Resolvido'" 
                  (click)="changeStatus('Desaprovado')" 
                  class="btn btn-primary">Desaprovado</button>
          <button *ngIf="shared.user.profile == 'AREA' && ticket.status == 'Aprovado'"
                  (click)="changeStatus('Fechar')" 
                  class="btn btn-primary">Fechar</button>
        </div>
      </form>
    </div>
  </div>