<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>APS | Prof Bernado &copy; 2019 <a href="linenker.psantos@gmail.com">Linenker Pereira dos Santos | APS</a>.</strong> APS de Desenvolvimento de Sistema Distribuidos | REST.
</footer>
