<div class="col-md-4" style="margin-left: 20%">

  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Programa de Auxilo a Mobilidade | Login</h3>
    </div>

    <form class="form-horizontal" #form="ngForm" (ngSubmit) = "login()">
      
      <div class="alert alert-error" role="alert" *ngIf="message">
          <strong>Senha ou email invalidos!</strong>
      </div>

      <div class="box-body">
          <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input 
              type="email" 
              [(ngModel)]="user.email"
              class="form-control" 
              name="email"
              id="inputEmail3" 
              #email="ngModel"

              placeholder="Email"
              email>

          <span class="help-block" *ngIf="email.invalid && email.dirty">Email invalido ou não cadastrado!</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
            <label for="inputPassword" class="col-sm-2 control-label">Senha</label>

            <div class="col-sm-10">
              <input 
                type="password" 
                [(ngModel)]="user.password"
                class="form-control" 
                
                id="inputPassword" 
                #password="ngModel"
                name="password"
                placeholder="Password"
                required>

            <span class="help-block" *ngIf="password.invalid && password.dirty">Senha invalida!</span>
            </div>
          </div>



      </div>

      <div class="box-footer">
        <button type="submit" (click)="cancelLogin()" class="btn btn-default">Cancelar</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Logar</button>
       
      </div>

    </form>
  </div>