<div class="col-md-6" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Nova Solicitação</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">
        <div [ngClass]="getFormGroupClass(title.invalid,title.dirty)">
          <label for="inputTitle" class="col-sm-2 control-label">Solicitante</label>
          <div class="col-sm-10">
            <input type="text" 
                    [(ngModel)]="ticket.title"
                    name="title" 
                    class="form-control" 
                    id="inputTitle" 
                    placeholder="Nome do Solicitante"
                    #title="ngModel" 
                    required>
            <span class="help-block" *ngIf="title.invalid && title.dirty">Necessita do Nome do solicitante</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(priority.invalid,priority.dirty)">
          <label for="inputPriority" class="col-sm-2 control-label">Prioridade</label>
          <div class="col-sm-10">
            <select [(ngModel)]="ticket.priority" 
                class="form-control select2" 
                name="priority"
                id="inputPriority"
                #priority="ngModel"
                style="width: 100%;"
                required>
                <option>AGENDAMENTO</option>
                <option>EMERGENCIA</option>
                <option>RECLAMACAO</option>
              </select>
            <span class="help-block" *ngIf="priority.invalid && priority.dirty">Necessita a prioridade</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(description.invalid,description.dirty)" >
          <label for="inputDescription" class="col-sm-2 control-label">Descrição</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="ticket.description"
                    name="description" 
                    rows="3"
                    class="form-control" 
                    id="inputDescription" 
                    placeholder="Descrição"
                    #description="ngModel" 
                    required>
            </textarea>        
            <span class="help-block" *ngIf="description.invalid && description.dirty">Necessita o preenchimento do formulario</span>
          </div>
        </div>
        <div class="form-group" style="display: none">
          <label for="inputDescription" class="col-sm-2 control-label">Imagem</label>
          <div class="col-sm-10">
            <img [src]="ticket.image" width="50%" height="50%"> 
            <input type="file" id="image"  (change)="onFileChange($event)">
          </div>
        </div>
      </div>   
<div style="display: none">
        <div>
            <label class="col-sm-2 control-label">Origem</label>
            <div class="col-sm-10">
              <input type="text"            
                      name="origem" 
                      class="form-control" 
                      placeholder="Endereço de Origem"
                      #title="" 
                      id="origem"
              > 
            </div>
        </div>
        <div>
              <label class="col-sm-2 control-label">Destino</label>
              <div class="col-sm-10">
                <input type="text"            
                        name="destino" 
                        class="form-control" 
                        placeholder="Endereço de Origem"
                        #title="" 
                        id="destino"
                > 
              </div>
        </div>
        <div>
                <label class="col-sm-2 control-label">Motivo</label>
                <div class="col-sm-10">
                  <input type="text"            
                          name="motivo" 
                          class="form-control" 
                          placeholder="Motivo"
                          #title="" 
                          id="motivo"
                  > 
                </div>
        </div>
              <div>
                  <label class="col-sm-2 control-label">Paciente</label>
                  <div class="col-sm-10">
                    <input type="text"            
                            name="paciente" 
                            class="form-control" 
                            placeholder="Paciente"
                            #title="" 
                            id="paciente"
                    > 
                  </div>
              </div>
      <div class="box-body" style="margin-top: 50px">         
              <div>
                  <label>Data Origem</label>
                  <div>
                    <input type="date"            
                            name="dataorigem"                
                            id="dataorigem"
                    > 
                    <input type="time"            
                            name="horaorigem"                       
                            id="horaorigem"
                    > 
                  </div>
              </div>

              <div>
                  <label>Data Destino</label>
                  <div>
                    <input type="date"            
                            name="datadestino"                
                            id="datadestino"
                    > 
                    <input type="time"            
                            name="horadestino"                       
                            id="horadestino"
                    > 
                  </div>
              </div>
        </div>
</div>     

      <div class="box-footer">       
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Enviar</button>
       </div>
    </form>
  </div>
</div>




