<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Usuários</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/user-list']"><i class="fa fa-circle-o"></i> Lista de Usuários</a></li>
          <li><a [routerLink]="['/user-new']"><i class="fa fa-circle-o"></i> Novo Usuário</a></li>
        </ul>
      </li>
      <li class="treeview" *ngIf="shared.user.profile != 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Solicitação</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/ticket-list']"><i class="fa fa-circle-o"></i> Lista de Chamados</a></li>
          <li *ngIf="shared.user.profile == 'ATENDENTE'"><a [routerLink]="['/ticket-new']"><i class="fa fa-circle-o"></i> Novo Chamado</a></li>
        </ul>
      </li>
      <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Sumário</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/summary']"><i class="fa fa-circle-o"></i>Visualizar</a></li>
          </ul>
        </li>
    </ul>
  </section>
</aside>